body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./walking-back-to-home-sq.jpg);
    background-image: linear-gradient(110deg, black, rgb(8, 8, 104));
}
.px-2{
    color: white !important;
}

.instagram{

    color: white;

}
.color-text{
    color: white !important;

}

.imagi {
    width: 1000px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.casa{

    color: white;

}

.blabla {
    -webkit-text-fill-color: white;
}

.chupetaa {
    color: white;
}
.nav-linkc{
    width: 10%;
    -webkit-text-fill-color: white;

}
.navbar-brand{

    -webkit-text-fill-color: white;

}

.nav-item{

    -webkit-text-fill-color: white;

}
.nav-link{

    -webkit-text-fill-color: white;

}
.dropdown-item{
    -webkit-text-fill-color: rgb(0, 0, 0);
}
.texto1{
    color: white;
}
.texto2{
    color: white;
}
footer img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.gitname{
    margin-top: 2px;
    margin-right: 4px;
}
footer{
    margin-top: auto;
}

.videoney{
    display: flex;
    padding-right: 20px;
    margin-left:auto ;
}